.hidden {
  display: none;
}
.bgImage {
  position: fixed;
  left: 0px;
  top: 0px;
  background-image: url('./bg.jpg');
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}

.flag {
  width: 100x;
  height: 37px ;
  position: absolute;
  display: inline;
  top: -30px;
  margin-left: -15px;
  left: 50%;
}

.App {
  background: white;
  width: 100%;
}

.time-container {
  background-color: rgba(255,255,255,0.6);
  direction: rtl;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2em;
  padding: 10px;
  border: 5px solid white;
  box-shadow: 10px white;

}

.time-unit {
  display: block;
  white-space:nowrap;
}

.time-name {
  text-shadow: 1px 1px 2px white;
  display: inline-block;
  text-align: left;
  width: 90px;
}
.time-value {
  background: black;
  color: white;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  width: 120px;
}
